<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.from.bkoruznjak.myfirstandroidapp" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_sed_launch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|screenLayout" >
            android:label="@string/app_name">
        </activity>
        <activity android:name=".RiddlePreviewActivity"
            android:label="@string/title_activity_riddle_preview"
            android:parentActivityName=".MainActivity"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hr.from.bkoruznjak.myfirstandroidapp.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hr.from.bkoruznjak.myfirstandroidapp.MainActivity" />
        </activity>
        <activity
            android:name=".AboutAppActivity"
            android:label="@string/title_activity_about_app"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hr.from.bkoruznjak.myfirstandroidapp.MainActivity" />
        </activity>
        <activity android:name=".FavoritesAppActivity"
            android:label="@string/title_activity_app_favorites"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hr.from.bkoruznjak.myfirstandroidapp.MainActivity" />
        </activity>
    </application>

</manifest>
